
/*
!.*
.Skype/
.Xauthority
.armitage.prop
.armitage/
.bash_history
.bash_logout
.bash_profile
.cache/

.config/autostart/
.config/calibre/
.config/dconf/

.config/gconf/
.config/gtk-2.0/
.config/leafpad/
.config/menus/
.config/teamviewer8/

.config/Trolltech.conf
.config/chromium/
.config/geany/
.config/gtk-3.0/
.dropbox-master/
.config/libreoffice/
.gnome/
.config/pulse/
.config/Skype/
.config/teamviewer9/
.config/terminator/
.config/transmission/
.config/VirtualBox/
.config/vlc/
.config/xfce4/
.config/xfe/
.config/zathura/














.dbus/
.dropbox-dist/
.dropbox/
.gem/
.gemrc
.gimp-2.8/
.gitconfig
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0
.java/
.john/
.kde4/
.kettle/
.lesshst
.local/
.matlab/
.msf4/
.mysql_history
.nbi/
.netbeans-derby/
.netbeans/
.netrc
.pentaho/
.pki/
.pulse-cookie
.rbenv/
.rvm/
.schemaWorkbench/
.sqlite_history-
.ssh/
.steam/
.steampath
.steampid
.subversion/
.swt/
.thumbnails/
.tor/
.vidalia/
.vim.old/
.viminfo
.wireshark/
.zenmap/
.zlogin
.zshrc
/.bundler/
/.smartgit/
/.w3m/
/.set/
