#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=DHC - REST HTTP API Client
Exec=/usr/bin/chromium --profile-directory=Default --app-id=aejoelaoggembcahagimdiliamlcdmfm
Icon=chrome-aejoelaoggembcahagimdiliamlcdmfm-Default
NoDisplay=true
StartupWMClass=crx_aejoelaoggembcahagimdiliamlcdmfm
OnlyShowIn=Old;
