#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=AntiGameOrigin
Exec=/usr/bin/chromium --profile-directory=Default --app-id=ldbahlcmhmlpomdepooifmhnalokdhgm
Icon=chrome-ldbahlcmhmlpomdepooifmhnalokdhgm-Default
NoDisplay=true
StartupWMClass=crx_ldbahlcmhmlpomdepooifmhnalokdhgm
OnlyShowIn=Old;
